services:
  db:
    image: postgres:18-alpine
    container_name: url-shortener-db
    environment:
      - POSTGRES_USER=shortener
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=url_shortener
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U shortener -d url_shortener"]
      interval: 10s
      timeout: 3s
      retries: 10

  api:
    build:
      context: .
      dockerfile: src/UrlShortener/Dockerfile
    container_name: url-shortener-api
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"

volumes:
  pgdata: